@model IEnumerable<RideSharing.Models.Passenger>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br>

<button type="button" onclick="location.href='@Url.Action("Register","Account")'">REGISTER</button>

<br>
<br>
<br>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PassengerIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnLine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PassengerIdentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnLine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PassengerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PassengerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PassengerId })
        </td>
    </tr>
}

</table>
